/* Applying Manjari to normal text elements */
@font-face {
    font-family: 'Manjari';
    src: url('Fonts/Manjari-Regular.ttf') format('truetype'),
         url('Fonts/Manjari-Bold.ttf') format('truetype'),
         url('Fonts/Manjari-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p, li, span, div, a {
    font-family: 'Manjari', sans-serif;
}

/* Applying Caveat to heading tags */
@font-face {
    font-family: 'Caveat';
    src: url('Fonts/Caveat-Bold.ttf') format('truetype'),
         url('Fonts/Caveat-Medium.ttf') format('truetype'),
         url('Fonts/Caveat-Regular.ttf') format('truetype'),
         url('Fonts/Caveat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Caveat', cursive;
}

#home {
    padding-bottom: 20px; /* Decrease padding-bottom to reduce space after the home section */
}

#products {
    padding-top: 20px; /* Decrease padding-top to reduce space before the products section */
    padding-bottom: 10px;
}

#faq {
    padding-top: 10px; /* Reduce space before the FAQ section */
}

body {
    background-color: #f4f0ec ; /* Light grey background */
    color: #333; /* Dark text for readability */
}

header {
    background-color: #f2f2f2;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 0
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    /*margin-left: 10px;*/
}

.logo img {
    max-width: 50px;
    max-height: 50px;
    height: auto;
    width: auto;
    /*margin-right: 160px;*/
}

.title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.title-container h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

body > section {
    padding-top: 100px; /* Adjust based on header height */
}

section {
    padding-top: 80px; /* Adjust as needed */
    padding-bottom: 60px; /* Adjust as needed */
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Set to 2 columns */
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.product {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 75%; /* Maintain aspect ratio */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.product:hover .overlay {
    opacity: 1;
}

.product-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.product-info p {
    margin: 0;
    font-weight: bold;
}

.btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.footer-container {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.footer-container footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .left-section {
    display: flex;
    align-items: center;
    flex: 1;
}

.footer-container .center-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-container .right-section {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.footer-container .contact-methods {
    display: flex;
    align-items: center;
}

.footer-container .contact-item {
    text-align: center;
    margin: 0 10px;
}

.footer-container .contact-item img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.footer-container .contact-item.email {
    display: flex;
    align-items: center;
}

.footer-container .contact-item.email img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 5px;
}

.footer-container .contact-item.email p {
    margin: 0;
}



/* Additional Styles for notebook.html */
.product-detail {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.product-detail img {
    max-width: 100%;
    border-radius: 5px;
}

.product-detail h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.product-detail p {
    margin: 5px 0;
}

/* Updated CSS for FAQs */
.faq {
    margin-top: 20px;
    text-align: center;
}

.faq h3 {
    font-size: 24px; /* Increase font size for questions */
    margin-bottom: 20px; /* Provide space below the heading */
}

.faq details {
    margin-bottom: 20px; /* Add space between each FAQ item */
    border-bottom: 1px solid #ddd; /* Add a line divider */
    padding-bottom: 10px; /* Adjust spacing between divider and content */
}

.faq summary {
    font-weight: regular;
    cursor: pointer;
}

.faq details p {
    margin: 10px 0; /* Adjust margin for paragraphs */
    font-size: 16px; /* Set font size for answers */
}


